@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto');
}
* {
    -fx-font-family: 'Roboto', sans-serif;
}
.box-container{
    -fx-border-radius : 4px;
    -fx-border-width: 1px;
    -fx-border-color : rgba(0,0,0,0.15);
    -fx-background-color : #ffffff;
}
.box-header{
    -fx-background-color:#fcfcfc;
    -fx-border-width: 1px;
    -fx-border-color : rgba(0,0,0,0.15);
    -fx-border-style : solid;
}
.blue-button{
    -fx-base:#0082d5;
    -fx-text-fill: #ffffff;
    -fx-border-radius:3px;
    -fx-font-weight: bold;
}
.text-wrapper{
    -fx-border-style: solid;
    -fx-border-size: 1px;
    -fx-border-color : #cad3df;
    -fx-border-radius: 3;
}
.text-custom{
    -fx-text-box-border: transparent;
}
.text-side-border{
    -fx-border-left-size: 1px;
    -fx-border-left-style: solid;
    -fx-border-left-color: #fcfcfc;
}
.chart-title{
    -fx-font-size: 14px;
}


/* global css */
/* font color */
.font-black {
    -fx-text-fill: #6c7480 !important;
    -fx-font-weight: bold;
}
.font-black-regular{
    -fx-text-fill: #6c7480 !important;
}
.font-white {
    -fx-text-fill: #fff;
}
.font-green {
    -fx-text-fill: #04be5b;
}
.font-red {
    -fx-text-fill: #d2335c;
}
.font-grey {
    -fx-text-fill: #9da1a6;
}
.font-yellow {
    -fx-text-fill: #faaf19;
}
.font-dark-grey {
    -fx-text-fill: #3d4d65;
}
.font-blue {
    -fx-text-fill: #0082d5;
}
.font-dark-blue {
    -fx-text-fill: #54657e;
}
/* background color */
.bg-white {
    -fx-background-color: #fff;
}
.bg-yellow {
    -fx-base: #ffd405;
}
.bg-orange {
    -fx-base: #f78c20;
}
.bg-green {
    -fx-base: #04be5b;
}
.bg-grey {
    -fx-background-color: #fcfcfc;
}
.bg-blue {
    -fx-base: #0082d5;
}
.bg-blue-search {
	-fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-image: url(assets/img/btn-search-blue.png);
    -fx-base: #0082d5;
}
.bg-light-blue {
    -fx-background-color: #eceff4;
}
.bg-pane {
	-fx-background-color: #f5f5f5;
}
.border-radius {
    -fx-border-radius: 4px 4px 0 0;
}
.border-radius-bottom {
    -fx-border-radius: 0 0 4px 4px;
}
.box-radius {
	-fx-border-radius: 4px;
}
.box-shadow-blue {
    -fx-border-color : rgba(214,221,230,1);
}
.bg-light-blue Label {
    -fx-font-size: 18px;
    -fx-font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.no-order-radius {
    -fx-border-radius: 0 !important;
}
.border {
    -fx-border-width: 1;
    -fx-border-color: #e6e8eb;
    -fx-border-style: solid;
}
.cursor {
    -fx-cursor: hand;
}

.font-black-regular{
	-fx-text-fill: #6c7480 !important;
}
.font-white {
	-fx-text-fill: #fff;
}
.font-green {
	-fx-text-fill: #04be5b;
}
.font-red {
	-fx-text-fill: #d2335c;
}
.font-grey {
	-fx-text-fill: #9da1a6;
}
.font-yellow {
	-fx-text-fill: #faaf19;
}
.font-dark-grey {
	-fx-text-fill: #3d4d65;
}
.font-blue {
	-fx-text-fill: #0082d5 !important;
}
.font-dark-blue {
	-fx-text-fill: #54657e;
}
.font-bold {
	-fx-font-weight: bold !important;
}
/* background color */
.bg-white {
	-fx-background-color: #fff;
}
.bg-yellow {
	-fx-base: #ffd405;
}
.bg-orange {
	-fx-base: #f78c20;
}
.bg-green {
	-fx-base: #04be5b;
}
.bg-grey {
	-fx-background-color: #fcfcfc;
}
.bg-blue {
	-fx-base: #0082d5;
}
.bg-light-blue {
	-fx-background-color: #eceff4;
}
.border-radius {
	-fx-border-radius: 4px 4px 0 0;
}
.box-shadow-blue {
	-fx-border-color : rgba(214,221,230,1);
}
.bg-light-blue Label {
	-fx-font-size: 18px;
	-fx-font-weight: 700;
	font-family: 'Roboto', sans-serif;
}
.no-order-radius {
	-fx-border-radius: 0 !important;
}
.border {
	-fx-border-width: 1;
	-fx-border-color: #e6e8eb;
	-fx-border-style: solid;
}
.cursor {
	-fx-cursor: hand;
}
.must-bold {
	-fx-font-weight: bold !important;
}

/* header */
.logo {
    -fx-padding: 10px;
}
.bg-panel {
    -fx-background-color: #efefef;
}
.head-panel-blue {
    -fx-background-color: #0c4da2;
}
.logo-text {
    -fx-font-size: 16;
    -fx-font-weight: 700;
}
.btn-notice {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-image: url(assets/img/notice.png);
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}
.btn-help {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-image: url(assets/img/help.png);
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}
.btn-signout {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-image: url(assets/img/signout.png);
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}
.navigation{
    -fx-font-size: 16px;
    -fx-opacity: 0.5;
    -fx-text-fill: #ffffff;
    -fx-padding : 3px 15px;
    -fx-border-radius : 3px;
}
.navigation.active, .navigation:hover{
    -fx-border-width: 1;
    -fx-border-color: #fff;
    -fx-border-style: solid;
    -fx-opacity: 1;
}
.navigation.reset{
    -fx-opacity: 1;
	-fx-padding: 10px;
}
.bg-panel {
	-fx-background-color: #efefef;
}
.head-panel-blue {
	-fx-background-color: #0c4da2;
}
.logo-text {
	-fx-font-size: 16;
	-fx-font-weight: 700;
}
.btn-notice {
	-fx-background-repeat: no-repeat; 
	-fx-background-position: center center;
	-fx-background-image: url(assets/img/notice.png);
	-fx-background-color: transparent;
	-fx-background-size: 100%;
}
.btn-help {
	-fx-background-repeat: no-repeat; 
	-fx-background-position: center center;
	-fx-background-image: url(assets/img/help.png);
	-fx-background-color: transparent;
	-fx-background-size: 100%;
}
.btn-signout {
	-fx-background-repeat: no-repeat; 
	-fx-background-position: center center;
	-fx-background-image: url(assets/img/signout.png);
	-fx-background-color: transparent;
	-fx-background-size: 100%;
}
.navigation{
	-fx-font-size: 16px;
	-fx-opacity: 0.5;
	-fx-text-fill: #ffffff;
	-fx-padding : 3px 15px;
	-fx-border-radius : 3px;
}
.navigation.active, .navigation:hover{
	-fx-border-width: 1;
	-fx-border-color: #fff;
	-fx-border-style: solid;
	-fx-opacity: 1;
}
.navigation.reset{
	-fx-opacity: 1;
}



/* main content */
.input-search {
    -fx-pref-width: 205px;
    -fx-pref-height: 24px;
    -fx-background-color: #fff;
    -fx-border-width: 1;
    -fx-border-color: #cad3df;
    -fx-border-style: solid;
    -fx-border-radius : 3px;
}
.input-search-multi {
    -fx-pref-width: 145px;
    -fx-pref-height: 28px;
    -fx-background-color: #fff;
    -fx-border-width: 1;
    -fx-border-color: #cad3df;
    -fx-border-style: solid;
    -fx-border-radius : 3px;
    -fx-text-fill: #8493a8;
    -fx-padding: 0 40px 0 0;
}
.input-search-small {
    -fx-pref-width: 120px;
    -fx-pref-height: 28px;
    -fx-background-color: #fff;
    -fx-border-width: 1;
    -fx-border-color: #cad3df;
    -fx-border-style: solid;
    -fx-border-radius : 3px;
    -fx-text-fill: #8493a8;
}
.button-search {
    -fx-border-radius : 3px;
    -fx-pref-width: 16px;
    -fx-background-color: #fff;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-image: url(assets/img/btn-search.png);
}
.default-font-color, Pane Label {
    -fx-text-fill: #8493a8;
    -fx-font-family: 'Roboto', sans-serif;
}
.label-popup {
    -fx-font-size: 12px;
	-fx-pref-width: 205px;
	-fx-pref-height: 24px;
	-fx-background-color: #fff;
	-fx-border-width: 1;
	-fx-border-color: #cad3df;
	-fx-border-style: solid;
	-fx-border-radius : 3px;
}
.input-search-multi {
	-fx-pref-width: 145px;
	-fx-pref-height: 28px;
	-fx-background-color: #fff;
	-fx-border-width: 1;
	-fx-border-color: #cad3df;
	-fx-border-style: solid;
	-fx-border-radius : 3px;
	-fx-text-fill: #8493a8;
	-fx-padding: 0 40px 0 0;
}
.input-search-small {
	-fx-pref-width: 120px;
	-fx-pref-height: 28px;
	-fx-background-color: #fff;
	-fx-border-width: 1;
	-fx-border-color: #cad3df;
	-fx-border-style: solid;
	-fx-border-radius : 3px;
	-fx-text-fill: #8493a8;
}
.button-search {
	-fx-border-radius : 3px;
	-fx-pref-width: 16px;
	-fx-background-color: #fff;
	-fx-background-repeat: no-repeat; 
	-fx-background-position: center center;
	-fx-background-image: url(assets/img/btn-search.png);
}
.default-font-color, Pane Label {
	-fx-text-fill: #8493a8;
	-fx-font-family: 'Roboto', sans-serif;
}
.label-popup {
	-fx-font-size: 12px;
}
.label-bold{
    -fx-font-weight: bold !important;
    -fx-font-size: 12px;
}

/* head panel */
.head-panel-silver {
    -fx-background-color: #fcfcfc;
    -fx-box-shadow: inset 0 -1px 0 0 #e6e8eb;
    -fx-border-radius: 4px 4px 0 0;
    -fx-border-width: 1;
    -fx-border-color: #e6e8eb;
    -fx-border-style: solid;
}
.heading-panel {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: #3d4d65;
    -fx-font-weight: 700;
}
/* body panel */
.body-panel {
    -fx-border-width: 1;
    -fx-border-color: #e6e8eb;
    -fx-border-style: solid;
    -fx-background-color: #fcfcfc;
}
.button-orange {
    -fx-border-radius: 99px !important;
    -fx-padding: 10px;
    -fx-base: #fff;
    -fx-pref-width: 50;
    -fx-text-fill: #6c7480;
}
.button-orange:hover, .button-orange-active{
    -fx-base: #ff9948;
	-fx-border-radius: 99px !important;
    -fx-text-fill: #fff;
	-fx-box-shadow: inset 0 -1px 0 0 #e6e8eb;
	-fx-border-radius: 4px 4px 0 0;
	/* -fx-border-width: 1;
	-fx-border-color: #e6e8eb;
	-fx-border-style: solid; */
}
.heading-panel {
	-fx-font-family: 'Roboto', sans-serif;
	-fx-font-size: 14px;
	-fx-text-fill: #3d4d65;
	-fx-font-weight: 700;
}
/* body panel */
.body-panel {
	-fx-border-width: 1;
	-fx-border-color: #e6e8eb;
	-fx-border-style: solid;
	-fx-background-color: #fcfcfc;
}
.button-orange {
	-fx-border-radius: 99px !important;
	-fx-padding: 10px;
	-fx-base: #fff;
	-fx-pref-width: 50;
	-fx-text-fill: #6c7480;
}
.button-orange:hover, .button-orange.active{
	-fx-base: #ff9948;
	-fx-text-fill: #fff;
}

.button-graphic-blue {
	-fx-base: #fff;
	-fx-border-radius: 0;
	-fx-pref-height: 25px;
	-fx-pref-width: 75px;
}
.button-graphic-blue:hover, .button-graphic-blue-selected {
	-fx-base: #0082d5;
	-fx-text-fill: #fff;
}

/* tabulasi */
.blue-tabs {
    -fx-pref-height: 40px;
    -fx-padding: 0 10px !important;
    -fx-font-size: 12px;
}

.blue-tabs-little {
    -fx-pref-height: 40px;
    -fx-padding: 0 10px !important;
	-fx-pref-height: 40px;
	-fx-padding: 0 10px !important;
}
.blue-tabs-little {
	-fx-pref-height: 40px;
	-fx-padding: 0 10px !important;
}
.blue-tabs Label {
}
.blue-tabs:hover, .blue-tabs:selected {
    -fx-background-color: #0082d5 !important;
    -fx-text-fill: #fff !important;
}
.blue-tabs:hover Label {
    -fx-text-fill: #fff !important;
}
.blue-tabs Label:visited, .blue-tabs:visited Label, .blue-tabs:selected, .blue-tabs:selected Label {
    -fx-box-shadow: none !important;
    -fx-border: 0 !important;
    -fx-text-fill: #fff;
	-fx-background-color: #0082d5 !important;
	-fx-text-fill: #fff !important;
}
.blue-tabs:hover Label {
	-fx-text-fill: #fff !important;
}
.blue-tabs Label:visited, .blue-tabs:visited Label, .blue-tabs:selected, .blue-tabs:selected Label {
	-fx-box-shadow: none !important;
	-fx-border: 0 !important;
	-fx-text-fill: #fff;
}

/* Left sidebar */
.link-blue {
    -fx-padding: 0 10px;
    -fx-font-weight: 700;
}
.link-blue-regular {
    -fx-padding: 0 10px;
    -fx-font-size: 12px;
}
.link-blue:hover, .link-blue.active,
.link-blue-regular:hover, .link-blue-regular.active{
    -fx-background-color: #0082d5;
    -fx-text-fill: #fff;
    -fx-underline: false;
}
.link-blue:visited {
    -fx-underline: false;
    -fx-border-width: 0;
	-fx-padding: 0 10px;
	-fx-font-weight: 700;
}
.link-blue-regular {
	-fx-padding: 0 10px;
	-fx-font-size: 12px;
}
.link-blue:hover, .link-blue.active,
.link-blue-regular:hover, .link-blue-regular.active{
	-fx-background-color: #0082d5;
	-fx-text-fill: #fff;
	-fx-underline: false;
}
.link-blue:visited {
	-fx-underline: false;
	-fx-border-width: 0;
}

/*label*/
.label-padding{
    -fx-padding: 15px;
}
